<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="StaffDB"
			 connectionString="Data Source=DESKTOP-TSHTFFD\HUISQL;Initial Catalog=Final_Project_DB;Integrated Security=True;TrustServerCertificate=True" />
	</connectionStrings>
</configuration>


